# SPDX-FileCopyrightText: 2023 Technology Innovation Institute (TII)
#
# SPDX-License-Identifier: Apache-2.0

temp/
venv/
build/
*.egg-info/
.eggs/
__pycache__/
sbomnix_test_data/
result
*.py[cod]
*.sqlite
*.csv
/*.log
/*.json
/*.png
/*.jpg
/*.pdf
/*.dot
/*.svg
