# SPDX-FileCopyrightText: 2022-2023 Technology Innovation Institute (TII)
#
# SPDX-License-Identifier: Apache-2.0

# common
colorlog
pandas
reuse
tabulate

# sbomnix
packageurl-python

# nixgraph
graphviz

# vulnxscan 
requests

# repology
bs4
packaging
requests-ratelimiter
requests-cache

# dev requirements
black
jsonschema
pycodestyle
pylint
pytest
