# SPDX-FileCopyrightText: 2022 Technology Innovation Institute (TII)
#
# SPDX-License-Identifier: Apache-2.0

# common
pandas
colorlog
tabulate
wheel

# sbomnix
packageurl-python

# nixgraph
graphviz

# dev requirements
pycodestyle
pylint
black
reuse
pytest
jsonschema
