# SPDX-FileCopyrightText: 2022-2023 Technology Innovation Institute (TII)
#
# SPDX-License-Identifier: Apache-2.0

# common
pandas
colorlog
tabulate
wheel
reuse

# sbomnix
packageurl-python

# nixgraph
graphviz

# vulnxscan 
requests

# repology
requests-ratelimiter
requests-cache
bs4
packaging

# dev requirements
pycodestyle
pylint
black
pytest
jsonschema
