# SPDX-FileCopyrightText: 2023 Technology Innovation Institute (TII)
#
# SPDX-License-Identifier: Apache-2.0

name: Upload Release Asset

on:
  push:
    # Run on push events where tags match v*, e.g. v1.3.0
    tags:
      - 'v*'

jobs:
  build: 
    name: Upload Release Asset
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v22
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable
      - name: Build release asset
        run: nix develop --command make release-asset
      - name: Upload release asset
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/sbom*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
